<ion-header>

  <ion-navbar>
    <ion-title>Cadastrar Antropometria</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form class="formController" (ngSubmit)="cadastrarAntropometria()">

    <ion-item>
      <ion-label floating>Peso</ion-label>
      <ion-input type="number" id="peso" [(ngModel)]="formAntropometria.peso" name="peso" ngModel #peso="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='peso.invalid && (peso.dirty || peso.touched)'>
      <p *ngIf="peso.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Braço</ion-label>
      <ion-input type="number" id="braco" [(ngModel)]="formAntropometria.braco" name="braco" ngModel #braco="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='braco.invalid && (braco.dirty || braco.touched)'>
      <p *ngIf="braco.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Torax</ion-label>
      <ion-input type="number" id="torax" [(ngModel)]="formAntropometria.torax" name="torax" ngModel #torax="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='torax.invalid && (torax.dirty || torax.touched)'>
      <p *ngIf="torax.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Cintura</ion-label>
      <ion-input type="number" id="cintura" [(ngModel)]="formAntropometria.cintura" name="cintura" ngModel #cintura="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='cintura.invalid && (cintura.dirty || cintura.touched)'>
      <p *ngIf="cintura.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Abdomen</ion-label>
      <ion-input type="number" id="abdomen" [(ngModel)]="formAntropometria.abdomen" name="abdomen" ngModel #abdomen="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='abdomen.invalid && (abdomen.dirty || abdomen.touched)'>
      <p *ngIf="abdomen.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Quadril</ion-label>
      <ion-input type="number" id="quadril" [(ngModel)]="formAntropometria.quadril" name="quadril" ngModel #quadril="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='quadril.invalid && (quadril.dirty || quadril.touched)'>
      <p *ngIf="quadril.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Coxa</ion-label>
      <ion-input type="number" id="coxa" [(ngModel)]="formAntropometria.coxa" name="coxa" ngModel #coxa="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='coxa.invalid && (coxa.dirty || coxa.touched)'>
      <p *ngIf="coxa.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Biceps</ion-label>
      <ion-input type="number" id="biceps" [(ngModel)]="formAntropometria.biceps" name="biceps" ngModel #biceps="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='biceps.invalid && (biceps.dirty || biceps.touched)'>
      <p *ngIf="biceps.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Triceps</ion-label>
      <ion-input type="number" id="triceps" [(ngModel)]="formAntropometria.triceps" name="triceps" ngModel #triceps="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='triceps.invalid && (triceps.dirty || triceps.touched)'>
      <p *ngIf="triceps.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Peito</ion-label>
      <ion-input type="number" id="peito" [(ngModel)]="formAntropometria.peito" name="peito" ngModel #peito="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='peito.invalid && (peito.dirty || peito.touched)'>
      <p *ngIf="peito.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>SubCap</ion-label>
      <ion-input type="number" id="subsCap" [(ngModel)]="formAntropometria.subsCap" name="subsCap" ngModel #subsCap="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='subsCap.invalid && (subsCap.dirty || subsCap.touched)'>
      <p *ngIf="subsCap.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Axiliar</ion-label>
      <ion-input type="number" id="axiliar" [(ngModel)]="formAntropometria.axiliar" name="axiliar" ngModel #axiliar="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='axiliar.invalid && (axiliar.dirty || axiliar.touched)'>
      <p *ngIf="axiliar.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Gordura Percentual</ion-label>
      <ion-input type="number" id="gorduraPerc" [(ngModel)]="formAntropometria.gorduraPerc" name="gorduraPerc" ngModel #gorduraPerc="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='gorduraPerc.invalid && (gorduraPerc.dirty || gorduraPerc.touched)'>
      <p *ngIf="gorduraPerc.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Agua Percentual</ion-label>
      <ion-input type="number" id="aguaPerc" [(ngModel)]="formAntropometria.aguaPerc" name="aguaPerc" ngModel #aguaPerc="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='aguaPerc.invalid && (aguaPerc.dirty || aguaPerc.touched)'>
      <p *ngIf="aguaPerc.errors.required">Este campo é obrigatório</p>
    </div>

    <ion-item>
      <ion-label floating>Peso Magro</ion-label>
      <ion-input type="number" id="pesoMagro" [(ngModel)]="formAntropometria.pesoMagro" name="pesoMagro" ngModel #pesoMagro="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf='pesoMagro.invalid && (pesoMagro.dirty || pesoMagro.touched)'>
      <p *ngIf="pesoMagro.errors.required">Este campo é obrigatório</p>
    </div>

    <div>
      <button ion-button full block class="btn">Cadastrar</button>
    </div>

  </form>

</ion-content>
