.formController {

        .item {
            background-color: transparent;
        }

        .label {
            color: #212121;
        }

        .button {
            margin-top: 40px;
        }
}