.toolbar-title-md { /* titulo header */
        color: #fff;
    }
    
.toolbar-background { /* background header */
    background-color: map-get($colors, primary);
}

.scroll-content { /* background content */
    background-color: map-get($colors, background);
}

.toolbar {
    .item {
        background-color: transparent;
    }

    .item-block .item-inner {
        border-bottom: none;
    }

    .icon {
        color: #fff;
    }
}