<ion-header>

  <ion-navbar>
    <ion-title>Alterar Paciente</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <main class="formulario">
    <form #FormAlterar="ngForm" (ngSubmit)="alterarCadastro(FormAlterar)" class="formController">
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" id="nome" name="nome" [(ngModel)]="dados_paciente.nome" #nome="ngModel" required></ion-input>
      </ion-item>
      <div *ngIf='nome.invalid && (nome.dirty || nome.touched)'>
        <p *ngIf="nome.errors.required">Este campo é obrigatório</p>
      </div>
      <ion-item>
        <ion-label floating>Usuario</ion-label>
        <ion-input type="text" id="username" name="username" [(ngModel)]="dados_paciente.username" #username="ngModel" required minlength="5"></ion-input>
      </ion-item>
      <div *ngIf='username.invalid && (username.dirty || username.touched)'>
        <p *ngIf="username.errors.required">Este campo é obrigatório</p>
        <p *ngIf="username.errors.minlength">Minimo de 5 caracteres</p>
      </div>

      <ion-item>
        <ion-label floating>Data de Nascimento</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" type="date" name="dataNascimento" [(ngModel)]="dados_paciente.dataNascimento" #dataNascimento="ngModel"
          required></ion-datetime>
      </ion-item>
      <div *ngIf='dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched)'>
        <p *ngIf="dataNascimento.errors.required">Este campo é obrigatório</p>
      </div>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email" id="email" name="email" [(ngModel)]="dados_paciente.email" #email="ngModel" email required></ion-input>
      </ion-item>
      <div *ngIf='email.invalid && (email.dirty || email.touched)'>
        <p *ngIf="email.errors.required">Este campo é obrigatório</p>
        <p *ngIf="email.errors.email">Digite um email valido</p>
      </div>

      <ion-list name="sexo" [(ngModel)]="dados_paciente.sexo" #sexo="ngModel" required radio-group>
        <ion-list-header>Sexo</ion-list-header>
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio checked="false" name="sexo" id="sexo s_m" value="M"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Feminino</ion-label>
          <ion-radio checked="false" id="sexo s_f" name="sexo" value="F"></ion-radio>
        </ion-item>
      </ion-list>
      <div *ngIf='sexo.invalid && (sexo.dirty || sexo.touched)'>
        <p *ngIf="sexo.errors.required">Este campo é obrigatório</p>
      </div>

      <ion-item>
        <ion-label floating>Altura</ion-label>
        <ion-input type="number" id="altura" name="altura" [(ngModel)]="dados_paciente.altura" #altura="ngModel" max='3' min='1' required></ion-input>
      </ion-item>
      <div *ngIf='altura.invalid && (altura.dirty || altura.touched)'>
        <p *ngIf="altura.errors.required">Este campo é obrigatório</p>
        <p *ngIf="altura.errors.max || altura.errors.min">Alutra devera etar entre 1 e 3 metros</p>
      </div>

      <ion-item>
        <ion-label floating>Celular</ion-label>
        <ion-input type="number" id="celular" name="celular" [(ngModel)]="dados_paciente.celular" #celular="ngModel" required maxlength='11'
          minlength='11'></ion-input>
      </ion-item>
      <div *ngIf='celular.invalid && (celular.dirty || celular.touched)'>
        <p *ngIf="celular.errors.required">Este campo é obrigatório</p>
        <p *ngIf="celular.errors.maxlength || celular.errors.minlength">Celular invalido, digite o celular com o DD e 9
          numeros</p>
      </div>

      <ion-item>
        <ion-label floating>Cidade</ion-label>
        <ion-input type="text" id="cidade" name="cidade" [(ngModel)]="dados_paciente.cidade" #cidade="ngModel" required></ion-input>
      </ion-item>
      <div *ngIf='cidade.invalid && (cidade.dirty || cidade.touched)'>
        <p *ngIf="cidade.errors.required">Este campo é obrigatório</p>
      </div>

      <ion-item>
        <ion-label floating>Profissão</ion-label>
        <ion-input type="text" id="profissao" name="profissao" [(ngModel)]="dados_paciente.profissao" #profissao="ngModel" required></ion-input>
      </ion-item>
      <div *ngIf='profissao.invalid && (profissao.dirty || profissao.touched)'>
        <p *ngIf="profissao.errors.required">Este campo é obrigatório</p>
      </div>

      <ion-item>
        <ion-label floating>Objetivo</ion-label>
        <ion-input type="text" id="objetivo" name="objetivo" [(ngModel)]="dados_paciente.objetivo" #objetivo="ngModel" required></ion-input>
      </ion-item>
      <div *ngIf='objetivo.invalid && (objetivo.dirty || objetivo.touched)'>
        <p *ngIf="objetivo.errors.required">Este campo é obrigatório</p>
      </div>

      <div>
        <button [disabled]="!FormAlterar.valid" ion-button full block class="btn">Salvar</button>
      </div>
    </form>
  </main>
</ion-content>