page-login {


    h1{
        text-align: center;
        
    }

    p.esqueceu-senha {
        padding-top:  0px;
        display:  flex;
        justify-content:  center;
        margin-top: 2%;
    }

    p.esqueceu-senha a {
        text-decoration: none;
    }


}
