page-login {

    .scroll-content { /* background content */
        background-image: url("../../assets/imgs/fundoLogin.jpg");
        background-size: cover;
        background-position-x: -200px;
    }

    .item { /* background list item */
        background-color: transparent;
    }

    .logo {
        text-align: center;
        margin: 15px 0;
    }

    .text-input {
        color: #fff;
    }

    .button-login {
        margin: 20px 0;
        button {
            margin: 8px 0;
        }
    }

    .extras {
        text-align: center;
        margin: 20px 0;

        a {
            text-decoration: none;
            color: #999;
        }
    }

    .icon-input {
        ion-icon {
            margin-right: 5px;
        }
    }
}