page-listar-consultas {
    .toolbar-title-md { /* titulo header */
        color: #fff;
    }
    
    .toolbar-background { /* background header */
        background-color: #18c00c;
    }

    .scroll-content { /* background content */
        background-color: #e4e4e4;
    }

    .toolbar {
        .item {
            background-color: transparent;
        }

        .item-block .item-inner {
            border-bottom: none;
        }

        .icon {
            color: #fff;
        }
    }

    .agenda-consulta {
        ion-note {
            margin-right: 20px;
            margin-left: 5px;
            vertical-align: 2px;
        }
    }
}
