page-agendar-consulta {
    .toolbar-title-md { /* titulo header */
        color: #fff;
    }
    
    .toolbar-background { /* background header */
        background-color: map-get($colors, secondary);
    }

    .scroll-content { /* background content */
        background-color: map-get($colors, background);
    }

    .toolbar {
        .item {
            background-color: transparent;
        }

        .item-block .item-inner {
            border-bottom: none;
        }

        .icon {
            color: #fff;
        }
    }

    .item{
        background-color: #e4e4e4;
    }

    .item-campo .ng-invalid .ng-touched:not(form){
        border-bottom: 1px solid red;
    }

    .item-label{
        font-weight: bold;
        margin: 2px 0;
    }

    .btn{
        background-color: #18c00c
    }
}
