page-perfil {
    .avatar{
        display: flex;
    }
    .avatar{
        justify-content: center;
        padding-bottom: 1em;
    }
    .btn{
        display: flex
    }
    .btn{
        justify-content: center;
        padding-top: 1em;
    }
    .nome{
        font-size: 1.3em;
    }
}
