page-home-nutricionista {
    .toolbar-title-md { /* titulo header */
        color: #fff;
    }
    
    .toolbar-background { /* background header */
        background-color: #18c00c;
    }

    .scroll-content { /* background content */
        background-color: #e4e4e4;
    }
}
