<ion-header>
  <ion-navbar>
    <ion-item>
      <ion-title item-start>Lista de Consultas</ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content>

  <div>
  
    <ion-segment [(ngModel)]="filtro">
      <ion-segment-button value="agendados">
        Agendado
      </ion-segment-button>
      <ion-segment-button value="realizados">
        Realizados
      </ion-segment-button>
    </ion-segment>
  
  </div>

  <div [ngSwitch]="filtro">

    <div *ngSwitchCase="'agendados'">

      <ion-list *ngFor="let consulta of consultas">

        <ion-item-sliding *ngIf="consulta.tipoEstado_id == 'AGENDADO'">
          <ion-item class="item-agendado" (click)="consultaDetalhada(consulta)">
            <h2 class="title">{{ consulta.tipoAtendimento_id }}</h2>
            <p>Paciente: {{ consulta.paciente_id.nome }}</p>
            <p *ngIf="consulta.horario_id != null ">Data: {{ consulta.horario_id[1] }} / Horario: {{ consulta.horario_id[0] }} horas</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="alterarEstadoConsulta(consulta, 'REALIZADO')">
              <ion-icon name="checkmark"></ion-icon>
              Realizado
            </button>
            <button ion-button color="danger" (click)="deletarConsulta(consulta.id)">
              <ion-icon name="trash"></ion-icon>
              Deletar
            </button>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>

    </div>

    <div *ngSwitchCase="'realizados'">
      <ion-list *ngFor="let consulta of consultas">
      
        <ion-item-sliding *ngIf="consulta.tipoEstado_id == 'REALIZADO'">
          <ion-item class="item-realizado" (click)="consultaDetalhada(consulta)">
            <h2 class="title">{{ consulta.tipoAtendimento_id }}</h2>
            <p>Paciente: {{ consulta.paciente_id.nome }}</p>
            <p *ngIf="consulta.horario_id != null ">Data: {{ consulta.horario_id[1] }} / Horario: {{ consulta.horario_id[0] }} horas</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deletarConsulta(consulta.id)">
              <ion-icon name="trash"></ion-icon>
              Deletar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      
      </ion-list>

    </div>

  </div>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="pushPage('AgendarConsultaPage')">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>